version: 2.0.8-{build}
image:
- Visual Studio 2017
after_build:
- cmd: >-
    mkdir artefacts

    dotnet pack -c Release -o artefacts
artifacts:
- path: 'artefacts\**\*.nupkg'
deploy:
  provider: NuGet
  api_key:
    secure: zT6G5fDE3fFgMOis/rnef8IdMj16aR57tn7wxh3XenV0rEOI4YqJdNQV9lKV+s07
  artifact: /.*\.nupkg/
  on:
    branch: master
    appveyor_repo_tag: true
